// Diverging Forest Magenta
$ForestMagenta-L1: #6A6C39;
$ForestMagenta-L2: #878754;
$ForestMagenta-L3: #a6a470;
$ForestMagenta-L4: #c5c18e;
$ForestMagenta-L5: #e6e0ac;
$ForestMagenta-middle: #F6F0B9;
$ForestMagenta-R5: #ebd7b6;
$ForestMagenta-R4: #D3A8AA;
$ForestMagenta-R3: #b9799e;
$ForestMagenta-R2: #9e4990;
$ForestMagenta-R1: #810082;

//Diverging Lichen-Sapphire
$Moss-Sapphire-L1: #959632;
$Moss-Sapphire-L2: #a8a74e;
$Moss-Sapphire-L3: #bcb968;
$Moss-Sapphire-L4: #cfcb83;
$Moss-Sapphire-L5: #e3dd9e;
$Moss-Sapphire-Middle: #f6f0b9;
$Moss-Sapphire-R5: #d6d2bd;
$Moss-Sapphire-R4: #b4b5c0;
$Moss-Sapphire-R3: #909ac2;
$Moss-Sapphire-R2: #667fc3;
$Moss-Sapphire-R1: #2166c3;


//Diverging Teal-Dirt
$TealDirt-L1: #196B66;
$TealDirt-L2: #218C86;
$TealDirt-L3: #26B1AA;
$TealDirt-L4: #8CD1CE;
$TealDirt-L5: #BCDEDD;
$TealDirt-R5: #E9F0EC;
$TealDirt-Middle: #D2D3C4;
$TealDirt-R4: #BBA88F;
$TealDirt-R3: #9E7A4C;
$TealDirt-R2: #784C11;
$TealDirt-R1: #5D3B0F;
