//Qualitative 7
$Qualitative7-Gray: #3D284D;
$Qualitative7-Blue:	#2F6CBA;
$Qualitative7-Green: #88C2B2;
$Qualitative7-Peach: #FFCAB3;
$Qualitative7-Camel: #DFA486;
$Qualitative7-Red: #BD3232;
$Qualitative7-Yellow: #EBEB35;

//Qualitative 5
$Qualitative5-Gray: #3D284D;
$Qualitative5-Green:#538288;
$Qualitative5-Red: #E88471;
$Qualitative5-Orange: #EFB474;
$Qualitative5-Yellow: #EFE571;


//Qualitative Pairs
$QualitativePairs-DarkGray: #3D284D;
$QualitativePairs-LightGray: #8E8E98;
$QualitativePairs-DarkBlue: #7C7CE0;
$QualitativePairs-LightBlue: #9D9DEA;
$QualitativePairs-DarkGreen: #9B9B52;
$QualitativePairs-LightGreen: #C6C677;

//Qualitative4 Blue Green
$Qualitative4-Aqua: #4FC1E7;
$Qualitative4-Green: #6BAE80;
$Qualitative4-Gray: #3D284D;
$Qualitative4-Purple: #694ED6;
