//Sequential Sangria - Peach
$SangriaPeach-L1: #7A0001;
$SangriaPeach-L2: #9B0001;
$SangriaPeach-L3: #B72715;
$SangriaPeach-L4: #D24327;
$SangriaPeach-L5: #EF5D3A;
$SangriaPeach-R5: #FF7D57;
$SangriaPeach-R4: #FFA182;
$SangriaPeach-R3: #FFC3AC;
$SangriaPeach-R2: #FFE5D8;
$SangriaPeach-R1: #FEF5F0;


//Sequential Money
$MoneyFoam-L1: #46825a;
$MoneyFoam-L2: #578e69;
$MoneyFoam-L3: #699c79;
$MoneyFoam-L4: #79a887;
$MoneyFoam-L5: #8bb597;
$MoneyFoam-R5: #9cc2a7;
$MoneyFoam-R4: #aecfb8;
$MoneyFoam-R3: #c0dcc9;
$MoneyFoam-R2: #d2e9da;
$MoneyFoam-R1: #e4f7eb;


//Sequential Yellow-Red
$YellowRed-L1: #ffe37e;
$YellowRed-L2: #ffd272;
$YellowRed-L3: #fec166;
$YellowRed-L4: #fcaf5a;
$YellowRed-L5: #f99e4e;
$YellowRed-R5:  #f68c43;
$YellowRed-R4: #f37937;
$YellowRed-R3: #EF662C;
$YellowRed-R2: #ea5021;
$YellowRed-R1: #e53516;

//Sequential Gold-Magenta
$GoldMagenta-L1: #ffa602;
$GoldMagenta-L2: #f3962c;
$GoldMagenta-L3: #e6863e;
$GoldMagenta-L4: #d9764c;
$GoldMagenta-L5: #cc6657;
$GoldMagenta-R5: #bf5561;
$GoldMagenta-R4: #b1446a;
$GoldMagenta-R3: #A23472;
$GoldMagenta-R2: #92207a;
$GoldMagenta-R1: #810082;
