<div id="arrivals">
  <div class="row">
    <div class="col-md-6">
      <h2 class="badge badge-51B">51B</h2>
      <h2 class="db">Rockridge BART</h2>
      <div id="arrivals-51B-S" class="arrival-graph"></div>
    </div>
    <div class="col-md-6">
      <h2 class="badge badge-51B">51B</h2>
      <h2 class="db">Berkeley Amtrak</h2>
      <div id="arrivals-51B-N" class="arrival-graph"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="badge badge-36">36</h2>
      <h2 class="db">West Oakland BART</h2>
      <div id="arrivals-36-S" class="arrival-graph"></div>
    </div>
    <div class="col-md-6">
      <h2 class="badge badge-36">36</h2>
      <h2 class="db">UC Campus</h2>
      <div id="arrivals-36-N" class="arrival-graph"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="badge badge-18">18</h2>
      <h2 class="db">Albany</h2>
      <div id="arrivals-18-S" class="arrival-graph"></div>
    </div>
    <div class="col-md-6">
      <h2 class="badge badge-18">18</h2>
      <h2 class="db">Lake Merritt BART</h2>
      <div id="arrivals-18-N" class="arrival-graph"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="badge badge-F">F</h2>
      <h2 class="db">Berkeley</h2>
      <div id="arrivals-F-S" class="arrival-graph"></div>
    </div>
    <div class="col-md-6">
      <h2 class="badge badge-F">F</h2>
      <h2 class="db">San Francisco</h2>
      <div id="arrivals-F-N" class="arrival-graph"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="badge badge-6">6</h2>
      <h2 class="db">Downtown Oakland</h2>
      <div id="arrivals-6-S" class="arrival-graph"></div>
    </div>
    <div class="col-md-6">
      <h2 class="badge badge-6">6</h2>
      <h2 class="db">Berkeley BART</h2>
      <div id="arrivals-6-N" class="arrival-graph"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="badge badge-79">79</h2>
      <h2 class="db">Rockridge BART</h2>
      <div id="arrivals-79-S" class="arrival-graph"></div>
    </div>
    <div class="col-md-6">
      <h2 class="badge badge-79">79</h2>
      <h2 class="db">El Cerrito Plaza BART</h2>
      <div id="arrivals-79-N" class="arrival-graph"></div>
    </div>
  </div>
</div>
