<div id="arrivals">
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-F-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-F-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-51B-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-51B-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-52-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-52-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-18-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-18-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-79-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-79-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-36-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-36-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-6-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-6-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-7-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-7-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-12-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-12-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-65-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-67-S" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-88-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-88-N" class="arrival-graph-right"></div>
    </div>
  </div>
</div>
