<div id="arrivals">
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-F-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-F-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-51B-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-51B-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-18-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-18-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="arrivals-36-S" class="arrival-graph-left"></div>
    </div>
    <div class="col-md-6">
      <div id="arrivals-36-N" class="arrival-graph-right"></div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-6">
      <h2 class="badge badge-6">6</h2>
      <h2 class="db">Downtown Oakland</h2>
      <div id="arrivals-6-S" class="arrival-graph"></div>
    </div>
    <div class="col-md-6">
      <h2 class="badge badge-6">6</h2>
      <h2 class="db">Berkeley BART</h2>
      <div id="arrivals-6-N" class="arrival-graph"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="badge badge-79">79</h2>
      <h2 class="db">Rockridge BART</h2>
      <div id="arrivals-79-S" class="arrival-graph"></div>
    </div>
    <div class="col-md-6">
      <h2 class="badge badge-79">79</h2>
      <h2 class="db">El Cerrito Plaza BART</h2>
      <div id="arrivals-79-N" class="arrival-graph"></div>
    </div>
  </div> -->
</div>
