<ul id="methodology">
  <li class="el">
    <div class="circ-num">1</div>You open the NextBus (or equivalent) app at 3:24PM.
  </li>
  <li class="el">
    <div class="circ-num">2</div>According to the app, the next <span class="badge badge-F">F</span><span class="db">San Francisco</span> bus will arrive in 30 minutes, or 3:54PM.
  </li>
  <li class="el">
    <div class="circ-num">3</div>You wait longer than you expect. The bus arrives at 4:02PM, so you record that it is 8 minutes late.
  </li>
  <li class="el">
    <div class="circ-num">4</div>You record each bus's "30-minute" performance at each stop from 5:00AM to 12:00AM, every day.
  </li>
</ul>
