//Box shadows
$box-shadow-lightest: 0 1px 2px rgba(218, 218, 218, 0.10), 0 1px 2px rgba(204, 201, 201, 0.20);
$box-shadow-light: 0 1px 2px rgba(218, 218, 218, 0.16), 0 1px 2px rgba(204, 201, 201, 0.23);
$box-shadow-mid: 0 7px 6px rgba(230, 230, 230, 0.25), 0 4px 7px rgba(0,0,0,0.22);
$box-shadow-heavy: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

//Clearfix
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

//Clear center
@mixin center-clear {
  text-align: left;
  margin: inherit 0;
}

//Margin auto
@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

//Border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
