@import 'bootstrap';

@import 'breakpoints';
@import 'mixins';
@import 'colors/base';
@import 'colors/diverging';
@import 'colors/qualitative';
@import 'colors/sequential';
@import 'fonts';
@import 'icons';

@import 'elements';
@import 'refer';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'photos';
@import 'buttons';
@import 'ads';
@import 'comments';
@import 'share';
@import 'credits';
@import 'graphics';

@import 'ol';

/* Colors */
.badge-6 {
  background-color: #006DB8;
  fill: #006DB8;
}
.badge-7 {
  background-color: #75C695;
  fill: #75C695;
}
.badge-12 {
  background-color: #85D2DD;
  fill: #85D2DD;
}
.badge-18 {
  background-color: #8D6538;
  fill: #8D6538;
}
.badge-36 {
  background-color: #C4A2CB;
  fill: #C4A2CB;
}
.badge-51B {
  background-color: #008B59;
  fill: #008B59;
}
.badge-52 {
  background-color: #F598AA;
  fill: #F598AA;
}
.badge-65 {
  background-color: #652D91;
  fill: #652D91;
}
.badge-67 {
  background-color: #FECD08;
  fill: #FECD08;
}
.badge-79 {
  background-color: #00B1B0;
  fill: #00B1B0;
}
.badge-88 {
  background-color: #9A983A;
  fill: #9A983A;
}
.badge-F {
  background-color: #F79447;
  fill: #F79447;
}

#lines {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  position: relative;
  text-align: center;

  .badge {
    opacity: 0.3;
    border-radius: 16px;
    border-width: 3px;
    border-color: #333;
    border-style: solid;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    outline: none;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
  }

  .badge:hover,
  .badge:active,
  .badge.selected {
    opacity: 1 !important;
    // margin-left: 8px;
    // margin-right: 8px;
  }
}

.dir {
  display: none;

  .visible {
    display: block;
  }
}

#dirs {
  width: 80%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  text-align: center;
  position: relative;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;

  .db {
    font-size: 18px;
    // border-radius: 12px;
    border-width: 3px;
    border-style: solid;
    border-color: #333;
    margin: 0px 2px 0px 2px;
    outline: none;
    opacity: 0.3;
    background-color: #333;
    color: #e6d063;
    font-family: monospace;
    text-transform: uppercase;
  }

  .db:hover,
  .db:active,
  .db.selected {
    opacity: 1 !important;
    // margin-left: 12px;
    // margin-right: 12px;
  }
}

#cover {
  height: 600px;
  left: 0;
  right: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  position: absolute;
  text-align: center;
  background-color: #fff;
  z-index: 3;
}

#cover p {
  padding-top: 140px;
  font-size: 24px;
}

#instr {
  text-align: right;
  width: 90%;
  margin-top: 612px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#map-info {
  height: 600px;
}

#map {
  height: 600px;
  left: 0;
  right: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  position: absolute;
  z-index: 0;
  /*opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;*/
}

#info {
  width: 40%;
  height: 600px;
  margin-right: 5%;
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(255,255,255,0.7);
  padding: 32px;
  z-index: 1;
}

#info h2 {
  text-align: left;
}

#info h3 {
  margin-top: 10px;
  font-weight: normal;
}

#info span {
  font-weight: bold;
}

#stopId {
  margin-bottom: 0;
}

#stopName {
  margin: 0 0 4px 0;
}

#bubble-map {
  margin-bottom: 32px;
}

#route,
.route,
.badge {
  border-radius: 16px;
  border-width: 2px;
  border-color: #333;
  border-style: solid;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px 2px 0px 2px;
  font-size: 18px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  display: inline-block;
  line-height: normal;
}

#direction,
.direction,
.db {
  border-width: 2px;
  border-color: #333;
  border-style: solid;
  background-color: #333;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px 2px 0px 2px;
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
  font-family: monospace;
  text-transform: uppercase;
  color: #e6d063;
  line-height: normal;
}

#hist {
  margin-top: 20px;
}

#additional {
  display: none;
  position: relative;
  text-align: center;
}

/* D3.js styling */

div.bar {
  display: inline-block;
  width: 20px;
  height: 75px;   /* We'll override this later */
  background-color: teal;
  margin-right: 2px;
}

#routes-bar line {
  stroke: white;
  stroke-width: 3;
}

#routes-bar path.domain {
  display: none;
}

.big-y {
  font-size: 16px;
}

#methodology {
  margin: 1.618em auto;
  max-width: 600px;
  padding: 0;

  .el {
    list-style-type: none;

    .circ-num {
      display: inline-block;
      background-color: crimson;
      color: white;
      font-family: sans-serif;
      text-align: center;
      border-radius: 50%;
      height: 24px;
      width: 24px;
      margin: 4px 8px 4px 4px;
    }
  }
}

#arrivals {
  text-align: center;
  margin-bottom: 32px;

  .arrival-graph-left {
    float: right;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .arrival-graph-right {
    float: left;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

/* Utility rules */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
